<h1>Your Peer ID: {{ currentUserPeerId }}</h1>
<label for="peer-id">Enter the Peer Id of the room to connect</label>
<input type="text" [(ngModel)]="remoteUserPeerId">
<button (click)="call()">Call</button>
<button (click)="toggleCamera()">Toggle Your Camera</button>


<div class="video-container">
  <div *ngIf="currentUserCameraOn" class="current-user-video-section">
    <video src="" id="current-user-video" autoplay #currentUserVideo></video>
  </div>
  <div class="remote-user-video-section">
    <video src="" id="remote-user-video" autoplay #remoteUserVideo></video>
  </div>
</div>
<router-outlet />